<div class="app">
  <input type="checkbox" id="check" [(ngModel)]="appService.isChecked"/>
  <div class="app-left">
    <app-sidebar ></app-sidebar>
  </div>
  <div class="app-right">
    <div class="header">
      <div class="header-top">
        <h3>Notification</h3>
        <div class="header-btns">
          <button class="edit-btn">Edit</button>
          <button class="Create-btn">Create</button>
          <label for="check" (click)="labelClickHandler()">
            <div class="menu-wrap">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
          </label>
        </div>
      </div>
      <div class="header-bottom">
        <div class="header-bottom-wrap">
          <a routerLink="/analytics" routerLink="/analytics" routerLinkActive="active">Overview</a>
          <a routerLink="/analytics" class="header-nav"  routerLinkActive="active">Users</a>
          <a routerLink="/analytics" class="header-nav" routerLinkActive="active">Settings</a>
        </div>
      </div>
    </div>
    <!-- <app-dashboard></app-dashboard> -->
    <router-outlet></router-outlet>
  </div>
</div>