*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
}

.app{
    display: flex;
    width: 100%;
    height: 100vh;
}
.app-left{
    border-right: 1px solid rgb(236, 236, 236);
    width: 200px;
    transition: all 0.3s ease;
}
.app-right{
    flex: 1;
    background-color: white;
}

#check{
    display: none;
}

.header{
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: 'Noto Sans', sans-serif;
    height: 100px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
}

.header-top>h3{
    margin:10px 15px;
    font-size: 28px;
}

.header-btns{
    margin:0 10px;
    display: flex;
    align-items: center;
}

.header-btns>button{
    margin: 0 10px;
    padding: 5px 12px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

.header-btns>label{
    text-align: center;
    height: fit-content;
    margin: 0 10px;
}

.Create-btn{
    background-color: #4C6FFF;
    color: white;
}

.header-bottom{
    align-items: center;
}

.header-bottom-wrap{
    display: flex;
    width: fit-content;
}

.header-bottom-wrap>a{
    margin: 0px 10px;
    padding: 12px 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(92, 91, 91);
    text-decoration: none;
}

/* .header-bottom-wrap a.active{
    border-bottom: 1px solid #4C6FFF;
} */

.header-bottom-wrap>p:hover{
    color: black;
}

.menu-wrap{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu-wrap>div{
    border: 1px solid black;
    width: 18px;
    margin: 1.5px 0;
}

@media(max-width: 750px){
    .app-left{
        width: 46px;
    }
    .header-btns{
        display: none;
    }
}

#check:checked ~ .app-left{
    width: 50px;
}

